#map {
  height: 400px;
  width: 100%;
}

#events {
  display: inline;
  height: 400px;
}

#body {
    padding: 30px;
}

.hide{
visibility: hidden
}

#videobcg {
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1000;
     overflow: hidden;
}