h3 {
  /*padding-left: 20px;*/
  color: #0066FF;
}

h1 {
    margin: 0px;
}

#map {
  height: 400px;
  width: 100%;
}

#events {
  display: inline;
  height: 400px;
}

#body {
    padding: 30px;
}

.hide{
visibility: hidden
}

.masthead {
  padding-top: 20px;
  padding-right: 30px; 
}

.row {
  padding-left: 40px;
}

.site-wrapper {
    text-align: center;
}
