<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='../static/css/style_AL.css' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
<div id='background-container'>
	<img id='background-img' src="../static/img/world.png">
</div>
<div id='background-overlay'>
</div>
<div id='topbar'>
	<div class='topbar-item'>About</div>
	<div class='topbar-item'>Home</div>
	<div class='logo-item'>Mapping Tools</div>
	
</div>
<div id='content'>
	<div id='title'>Mapping Tools</div>
	<div id='subtitle'>Map Your Events</div>
	<p>
		{% for event in events %}
                <div><a href="{{ url_for('present', event_id = event._id) }}">{{ event.event_name }}</a></div>
        {% endfor %}
    </p>
</div>
<div id='footer'>Built for IOLab</div>
</body>
</html>