{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h3 class="muted">Create a Map</h3>
        <div class="span10">
            <!-- Container for map -->
            <div id="map"></div>
        </div>
        <div class="span2">
            <button class="btn btn-primary btn-lg" onclick="plotAllData()">Add Markers to Map</button>
            <!-- Container for annotated events -->
            <table class="table table-hover table-condensed" id="events">
            </table>
        </div>
    </div>
    <!-- JS file needs to be after the map div -->
    <script type="text/javascript" src="../static/js/map.js"></script>
{% endblock %}
