{% extends "base.html" %}
{% block content %}
        <!-- Load modal on default -->
    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{ event.event_name }}</h4>
          </div>
          <div class="modal-body">
            {{ event.event_description }}
            <div class="modal-images">
              {% for image in event.event_images %}
                <img src={{ image.file_path }} height="200" width="200">
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <div id="pagepiling">
        {% for marker in event.marker %}
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="col-md-8">
                                <!-- Container for map -->
                                <div class="map" id="map{{ marker.marker_order }}" style="height: 400px; width: 100%;">

                                </div>
                            </div>
                            <div class="marker">
                                <h2 class="marker_name">{{ marker.marker_name }}</h2>
                                <p class="marker_dates">{{ marker.date.start_date }}</p>
                                <span class="latlong hidden">{{ marker.latitude }}, {{ marker.longitude }}</span>
                                <span class="timerDuration hidden">{{ marker.timer_duration }}</span>
                                <p class="marker_description">{{ marker.marker_description }}</p>
                                {% for image in marker.marker_images %}
                                  <img src={{ image.file_path }} height="200px" width="200px">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="controls" style="padding-top:40px">
                            <ul>
                                <button type="button" class="btn btn-primary" aria-label="Left Align" id="play">
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger" aria-label="Left Align" id="stop">
                                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                                </button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- JS files needs to be after the map div -->
    <script type="text/javascript" src="../static/js/map.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/style.js"></script>
{% endblock %}
