{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h3 class="muted">{{ event.event_name }}</h3>
        <div class="span10">
            <!-- Container for map -->
            <div id="map"></div>
        </div>
        <div class="span2" id="events">
            <button>Awesome</button>
        </div>
    </div>
    <!-- JS file needs to be after the map div -->
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/ajax_script.js"></script>
{% endblock %}
