{% extends "base.html" %}
{% block content %}

    <style type="text/css">
        html {
          background: url({{ event.background_url }}) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>

    <!-- Load modal on default -->
    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{ event.event_name }}</h4>
          </div>
          <div class="modal-body">
            {{ event.event_description }}
            <div class="modal-images">
              {% for image in event.event_images %}
                <img src={{ image.file_path }} height="200" width="200">
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <h3 class="muted">{{ event.event_name }}</h3>
        <div class="span8">
            <!-- Container for map -->
            <div id="map"></div>
        </div>
        <div class="span4" id="events">
            <div class="controls">
                <ul>
                    <button class="btn btn-primary" id="backData" >Back</button>
                    <button class="btn btn-warning" id="nextData" >Next</button>
                </ul>
            </div>
            <div class="accordion" id="accordion">
                {% for marker in event.marker %}
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ marker.marker_order }}">
                        {{ marker.marker_name }}
                      </a>
                    </div>
                    <div id="{{ marker.marker_order }}" class="accordion-body collapse">
                      <div class="accordion-inner">
                        {{ marker.date.start_date }}<br>
                        <span class="latlong hidden">{{ marker.latitude }}, {{ marker.longitude }}</span>
                        {{ marker.marker_description }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
      <div>
          <form action="/uploads" method="post" enctype="multipart/form-data">
            <input type="file" name="file"><br /><br />
            <input type="submit" value="Upload">
          </form>
      </div>
    </div>

    <!-- JS file needs to be after the map div -->
    <script type="text/javascript" src="../static/js/map.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
{% endblock %}
